<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <h1>About</h1>
    <h2>Somewhere in the Hundred acre woods lies the rearest and most hungrey of all the animals,<br> The Pooh Bear</h2>
    <p><br> Known to wear only a red shirt and often seen in company of a pig, this wild animal has been known to terroize bee hives and honey jars alike.</p><br><p> Other known associates are a tigger, a donkey, a rabbit, and sometimes a human child</p>
    <p><br>Through his misadventures he teaches us to be friendly,thoughtful, and steadfast in our pursuits</p>
    <!-- <p>Winnie the Pooh is a care free bear that does not worry about life and instead chooses to celebrate it. <br> 
        <br>
        A fearce friend he is always willing to help a friend and stand by them in adversity. He accepts his friends just the way they are rather that be scared, nerotic, or mellow dramatic. Much more he delights in there comppany. -->
    <!-- </p> -->
    <img src="/public/images/pooh-and-friends.png">
</body>
</html>